<!DOCTYPE html>
<html class="fondo" lang="en">
<header class="centro">
    <img src="assets/logo.png" width="600px" height="100px">
    <img src="assets/sublogo.gif" width="120px" height="120px">
</header><br>
<router-outlet></router-outlet>
<footer>
    <ul>
        <li><a href="https://www.facebook.com/Soldaatje.Gek/">Facebook</a></li>
        <li><a href="https://www.instagram.com/that_.john/">Instagram</a></li>
        <li><a href="https://api.whatsapp.com/">Whatsapp</a></li>
    </ul>
</footer>
</html>