  <head>
  <meta charset="UTF-8">
  <title>OPERADOR</title>
</head>
<body  style="background-color: transparent;">
  <nav>
    <a routerLink="/home">INICIO</a>
    <a routerLink="/servicios">SERVICIOS</a>
    <a routerLink="/informacion">INFORMACIÓN</a>
    <a style="float: right;" routerLink="/auth/login">CERRAR SESIÓN</a>
  </nav>
  <br>
  <div class="container mt-4">
    <h1 class="animate-slide-right" >Cambiar Contraseña</h1>
    <br>
    <br>
    <form [formGroup]="changePasswordForm"  (ngSubmit)="onSubmit()" style="margin-left: 350px;">
      <div class="form-group">
        <label for="currentPassword" style="color: white;font-size: 25px;">Contraseña actual:</label>
        <input
          type="password"
          class="form-control"
          id="currentPassword"
          formControlName="currentPassword"
          required
          style="width: 500px;height: 30px;"
        />
      </div>
      <div class="form-group">
        <label for="newPassword" style="color: white;font-size: 25px;">Nueva Contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="newPassword"
          formControlName="newPassword"
          required
          minlength="6"
          style="width: 500px;height: 30px;"
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword" style="color: white;font-size: 25px;">Confirmar Nueva Contraseña:</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
          required
          minlength="6"
          style="width: 500px;height: 30px;"
        />
      </div><br>
      <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
      <button type="button" class="btn btn-danger" style="margin-left: 15px;" (click)="cancelEdit()">Cancelar</button>
    
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</body>