<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEXTECH DISPATCH</title>
</head>
<body>
    <header class="centro">
        <img src="assets/logo.png" alt="Ejemplo de imagen">
        <img src="assets/sublogo.gif" width="120px" height="120px">
    </header><br>
    <nav>
        <a routerLink="/home">INICIO</a>
        <a routerLink="/servicios">SERVICIOS</a>
        <a routerLink="/informacion">INFORMACIÓN</a>
        <a style="float: right;" routerLink="/auth/login">INICIAR SESIÓN</a>
    </nav>
<div class="div1" >
    <div class="texto">
        <h1 class="text-4xl font-bold mb-4 animate-fade-in" style="text-align: center;width:auto;height: auto;margin-bottom:10px;">HEXTECH DISPATCH</h1>
        <p class="text-4xl font-bold mb-4 animate-fade-in2" style="text-align: center;width:auto;height: auto;">
            Entrega confiable, puntual y segura. <br>
            Somos tu fábrica de reparto de paquetes,<br> 
            encargados de llevar tus envíos hacia <br>
            donde los necesites. <br>
            Confía en nosotros para una logística impecable.
        </p>
    </div>
    
</div>
<img class="text-4xl font-bold mb-4 hover:rotate-360" style="margin:30px 10px;float:left;margin-top: 150px; margin-left: 150px;"
 src="https://lh3.googleusercontent.com/grLBfwWs6KB5Eb28UmantM0AvUxraUdeqTy_azZA2d4LxtRosCTn6FrgYj4nGEkN-DD8k3ZOFDpC_x7hRnGGNfWCxqXcR6dViZrVflXmMQ9WB3WLe7UtxICHp9qxhSsADpnUIo8qhWJy7JJ79svP0RLa3HiuF0jdq5VhuG-wqDIFPF7U2U7B7-in-ZE1cA"width="500px" height="350px">
<footer >
    <ul>
        <li><a href="https://www.facebook.com/Soldaatje.Gek/">Facebook</a></li>
        <li><a href="https://www.instagram.com/that_.john/">Instagram</a></li>
        <li><a href="https://api.whatsapp.com/">Whatsapp</a></li>
    </ul>
</footer>
</body>
</html>