<head>
    <meta charset="UTF-8">
    <title>HEXTECH DISPATCH</title>
</head>
<body>
    <nav>
        <a routerLink="/home">INICIO</a>
        <a routerLink="/servicios">SERVICIOS</a>
        <a routerLink="/informacion">INFORMACIÓN</a>
        <a style="float: right;" routerLink="/auth/login">INICIAR SESIÓN</a>
    </nav>
<div class="div1" >
    <div class="texto">
        <h1 class="text-4xl font-bold mb-4 animate-fade-in" style="text-align: center;width:auto;height: auto;margin-bottom:10px;margin-left: 350px;">BANDA TRANSPORTADORA</h1>
        <div class="text-4xl font-bold mb-4 animate-fade-in4" style="margin-left: 300px;">
            <p style="width:auto;height: auto;font-size: 20px;text-align: center;">
                Una banda transportadora es un sistema mecánico y automatizado que se utiliza para mover de manera continua y eficiente objetos, <br>
                mercancías o productos a lo largo de una línea de producción, distribución o manipulación.<br>
                Para la clasificación de paquetes se usa la aplicación de un sistema de detección y separación de paquetes en función de sus <br>
                dimensiones físicas. A medida que los paquetes avanzan por la banda transportadora, se utilizan sensores para identificar sus tamaños. <br>
                Este enfoque de clasificación es especialmente útil en donde se manejan paquetes de diferentes tamaños, como centros de distribución <br>
                o instalaciones de logística. Permite optimizar el uso del espacio disponible en la banda transportadora y en áreas de almacenamiento.<br>
                Además, al agrupar paquetes similares por tamaño, se facilita el proceso de carga y descarga de camiones, acelerando el tiempo de entrega <br>
                y mejorando la productividad en general.
            </p>
            <img class="text-4xl font-bold mb-4 hover:rotate-360" style="margin:30px 10px;float:left;margin-left: 350px;"src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Cintas_transportadoras_.jpg" width="600px" height="400px">
            <p style="text-align: center;width:auto;height: auto; margin-top: 500px;"></p>
                
        </div>
        </div>
    </div>
</body>