<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>HEXTECH DISPATCH</title>
</head>
<body>
    <header class="centro">
        <img src="assets/logo.png" width="600px" height="100px">
        <img src="assets/sublogo.gif" width="120px" height="120px">
    </header><br>
    <nav>
        <a routerLink="/home">INICIO</a>
        <a routerLink="/servicios">SERVICIOS</a>
        <a routerLink="/informacion">INFORMACIÓN</a>
        <a style="float: right;" routerLink="/login">INICIAR SESIÓN</a>
    </nav>
<div class="div1" >
    <div class="texto">
        <h1 class="text-4xl font-bold mb-4 animate-fade-in" style="text-align: center;width:auto;height: auto;margin-bottom:10px;">SERVICIOS</h1>
        <div class="text-4xl font-bold mb-4 animate-fade-in4">
            <p style="text-align: center;width:auto;height: auto;">
                <h1 class="text-4xl font-bold mb-4 animate-slide-right">Clasificación de Paquetes</h1>
                El servicio de clasificación de paquetes es un sistema automatizado <br>
                diseñado para separar y organizar eficientemente paquetes o productos <br>
                que se mueven a lo largo de una línea de producción o distribución.<br>
                Su principal objetivo es agilizar el proceso de manejo de mercancías,<br>
                garantizando que cada paquete llegue a su destino adecuado de manera <br>
                rápida y precisa.
                <h1 class="text-4xl font-bold mb-4 animate-slide-right">Entrega inmediata</h1>
                El servicio de entrega inmediata es una opción de envío especializada <br>
                que se enfoca en proporcionar una entrega rápida y casi instantánea <br>
                de paquetes o productos. A diferencia de los métodos de envío estándar,<br>
                 donde los tiempos de entrega pueden variar desde varios días hasta semanas, <br>
                 la entrega inmediata se orienta hacia la satisfacción inmediata de <br>
                 las necesidades del cliente.
                <h1 class="text-4xl font-bold mb-4 animate-slide-right">Conteo de Paquetes</h1>
                El servicio de conteo de paquetes es una función esencial que permite <br>
                rastrear y contar con precisión la cantidad de paquetes o productos <br>
                que pasan por la línea de transporte. Este proceso automatizado ayuda <br>
                a garantizar la exactitud y eficiencia en la gestión de inventario, <br>
                la distribución y el manejo de mercancías en diversos entornos, <br>
                como centros de distribución, almacenes o instalaciones de logística.
            </div>
        </div>
    </div>
    
    <img class="text-4xl font-bold mb-4 hover:rotate-360" style="margin:30px 10px;float:left;margin-top: 200px;"src="https://assets.new.siemens.com/siemens/assets/api/uuid:608a7d2a-4722-499b-9642-8caeff72272f/width:1024/quality:HIGH/608a7d2a-4722-499b-9642-8caeff72272f-high.webp" width="350px" height="200px">
    <img class="text-4xl font-bold mb-4 hover:rotate-360" style="margin:30px 10px;float:left;margin-top: 50px;"src="https://d3t4nwcgmfrp9x.cloudfront.net/upload/tendencias-entrega-paquetes-para-2022.jpg" width="350px" height="200px">
    <img class="text-4xl font-bold mb-4 hover:rotate-360" style="margin:30px 10px;float:left;margin-top: 50px;"src="http://cdn.actualicese.com/fotos/almacen-mercancia-distribucion-cajas-industria.jpg" width="350px" height="200px">
<footer>
    <ul>
        <li><a href="https://www.facebook.com/Soldaatje.Gek/">Facebook</a></li>
        <li><a href="https://www.instagram.com/that_.john/">Instagram</a></li>
        <li><a href="https://api.whatsapp.com/">Whatsapp</a></li>
    </ul>
</footer>
</body>
</html>